<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
        *{
            margin: 0;
            padding: 0;
            font-family: 'Onest';
        }
        .navbar{
            color: white;
            background-color: #3185FC;
            display: flex;
            height: 60px;
            justify-content: space-between;
            padding: 15px 20px 0 30px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <h1>HealthForSure</h1>
    </div>
</body>
</html>