<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="navbar">
        <h1>HealthForSure</h1>
        <div class="right">
            <form method="post" action="/">    
                <button type="submit"><h3>Home</h3></button>
                {% csrf_token %}
            </form>
            <form method="post" action="/aboutus">   
                <button type="submit"><h3>About Us</h3></button>
                {% csrf_token %}
            </form>
            <form method="post" action="/login">    
                <button type="submit"><h3>Login</h3></button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</body>
</html>