@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Onest';
}

body{
    height: 160vh;
}

.navbar{
    color: white;
    background-color: #3185FC;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
h1{
    padding-left: 20px;
}
.exiandpat{
    display: flex;
    width: 300px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
}
.existing{
    color: white;
    background-color: black;
    height: 40px;
    width: 90px;
    font-size: 17px;
    border-radius: 15px;
}
.existing:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.patient{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.products{
    height: 85vh;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products img{
    width: 200px;
    height: 200px;
}

.productbox{
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}
.productbox .info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    width: 100px;
}
.productbox button{
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
}
.productbox button:hover{
    cursor: pointer;
    background-color: blue;
}

h4{
    color: red;
}

.info button{
    color: white;
    background-color: #3185FC;
}

h2{
    margin: 10px 0 10px 30px; 
    text-decoration: underline; 
    text-decoration-color: #3185FC;
}

table{
    width: 90vw;
    border-collapse: collapse;
    margin-left: 30px;
}
table, th, td{
    border: 1px solid black;
}
th{
    background-color: #7FFFD4;
    width: 180px;
    height: 50px;
}
#df{
    width: 200px;
}
td{
    text-align: center;
}
tr{
    height: 40px;
}

hr{
    border: 3px solid #37706D;
}
.cart{
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.carttable input{
    width: 35px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
}
input[type=number]:hover::-webkit-inner-spin-button {  
    width: 15px;
    height: 30px;
}
.carttable p{
    margin: 30px 0 30px 30px;
    text-decoration: underline;
    text-decoration-color: #3185FC;
    text-decoration-thickness: 3px;
    font-size: 20px;
}

.removebutton{
    color: white;
    background-color: #37706D;
    display: block;
    margin: auto;
    height: 30px;
    width: 60px;
    border-radius: 15px;
}
.removebutton:hover{
    cursor: pointer;
    color: black;
    background-color: greenyellow;
}
#rmvbox{
    display: flex;
    height: 40px;
}

.totalgenerate{
    display: flex;
    width: 93vw;
    justify-content: space-between;
}
#generate{
    display: none;
    background-color: #37706D;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 60px;
    margin-top: 15px;
    font-size: 15px;
}
#generate:hover{
    color: black;
    background-color: greenyellow;
    cursor: pointer;
}