<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Patient</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="box">
        <h2>Patient Info</h2>
        <form method="POST" action="/addnewpatient">
            <div class="fields">
                <h3>Enter Full Name</h3>
                <input type="text" name="fullname">
                <h3>Enter Age</h3>
                <input type="text" name="age">
                <h3>Enter Gender</h3>
                <input type="text" name="gender">
            </div>
            <div class="submitdiv">
                <button type="submit">Submit</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</body>
</html>