<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="stylesheet" href="../static/features.css">
</head>
<body>
    <div class="navbar">
        <h1>HealthForSure</h1>
        <form method="POST" action="/">
            <button type="submit"><h3>Logout</h3></button>
            {% csrf_token %}
        </form>
    </div>
    <div class="two">
        <div class="option">
            <form method="POST" action="/addnewpatient">
                <button type="submit"><h3>Add New Patient</h3></button>
                {% csrf_token %}
            </form>
            <p>Enter details of first-time visiting patient, which will be registered in the database</p>
        </div>
        <div class="option">
            <form method="POST" action='/viewexistingpatients'>
                <button type="submit"><h3>View Existing Patients</h3></button>
                {% csrf_token %}
            </form>
            <p>Access the Existing Patients Database(Model).<br>You have the ability to <b>view</b> the patient details, <b>delete</b> a patient-data from database and <b>generate</b> prescription for an existing patient.</p>
        </div>
    </div>
</body>
</html>