<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription Generator</title>
    <link rel="stylesheet" href="../static/generator.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div class="navbar">
        <h1>HealthForSure</h1>
        <div class="right">
            <a href="/viewexistingpatients"><button class="existing"> Existing </button></a>
            <div class="patient">
                <i class="fa-regular fa-user"></i>
                <a href="{% url 'patientinfo' patient.id %}"><h3 style="margin-left: 10px;">{{ patient }}</h3></a>
            </div>
            <a href="{% url 'viewcart' patient.id %}"><button class="cartbtn"><b>Cart: <span id="cartquantity">{{ cart|length }}</span></b></button></a>
        </div>
    </div>
    <div class="products">
        {% for medicine in medicines %}
            <div class="productbox">
                <div class="image">
                    <img src="/media/{{ medicine.image }}" alt="{{ medicine.medname }}">
                </div>
                <div class="info">
                    <h3>{{ medicine.medname }}</h3>
                    <h4>Rs.{{ medicine.price }}</h4>
                    <input type="text" placeholder="Dosage(X-X-X-X)" maxLength=7>
                    <input type="number" value=1 min=1 max=5 id="quantityinput">
                    <button class="add" value="{{ medicine.id }}" id="addtocartbtn">Add to Cart</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(document).on('click', '#addtocartbtn', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'addcart' %}",
                data: {
                    product_id: e.target.value,
                    product_dosage: e.target.parentElement.childNodes[5].value,
                    product_quantity: e.target.parentElement.childNodes[7].value,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(json){
                    document.querySelector("#cartquantity").textContent = json.qty
                },
                error: function(xhr, errmsg, err){

                }
            })
        });

        let addbtns = document.querySelectorAll(".add");
        let itemlist = []
        for(let i=0; i<addbtns.length; i++){
            let addbtn = addbtns[i];
            addbtn.addEventListener("click", ()=>{
                item = addbtn.parentElement.querySelector("h3").innerText;
                if(itemlist.includes(item)){
                    alert(item+" is already added to cart");
                    return;
                }
                else{
                    itemlist.push(item);
                }
            });
        }
    </script>
</body>
</html>