<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/home.css">
    <style>
        img{
            opacity: 0.5;
        }
        .about{
            display: flex;
            flex-direction: column;
            height: 90vh;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 10%;
            left: 43%;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <h1>HealthForSure</h1>
        <div class="right">
            <form method="post" action="/">    
                <button type="submit"><h3>Home</h3></button>
                {% csrf_token %}
            </form>
            <form method="post" action="/aboutus">   
                <button type="submit"><h3>About Us</h3></button>
                {% csrf_token %}
            </form>
            <form method="post" action="/login">    
                <button type="submit"><h3>Login</h3></button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div class="bg">
        <img src="../static/Images/HealthForSure Homebg.jpg">
    </div>
    <div class="about">
        <h2>Sem-4 Miniproject by:</h2><br>
        <h3>SE3-20 Kshitij Jadhav</h3>
        <h3>SE3-28 Sarthak Kharade</h3>
        <h3>SE3-37 Yug Panchal</h3>
        <h3>SE3-42 Ronit Pol</h3>
    </div>
</body>
</html>