<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription Generator</title>
    <link rel="stylesheet" href="../static/generator.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <h1>HealthForSure</h1>
        <div class="exiandpat">
            <a href="/viewexistingpatients"><button class="existing"> Existing </button></a>
            <div class="patient">
                <i class="fa-regular fa-user"></i>
                <h3 style="margin-left: 5px;">{{ patient }}</h3>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="productbox">   
            <div class="image"> 
                <img src="../static/Images/Crocin 650.png" alt="Crocin 650">
            </div>
            <div class="info">
                <h3>Crocin 650</h3>
                <h4>Rs.30</h4>
                <button class="add">Add to Cart</button>
            </div>
        </div>
        <div class="productbox">
            <div class="image">
                <img src="../static/Images/Saridon.png" alt="Saridon">
            </div>
            <div class="info">
                <h3>Saridon</h3>
                <h4>Rs.450</h4>
                <button class="add">Add to Cart</button>
            </div>
        </div>
        <div class="productbox">
            <div class="image">
                <img src="../static/Images/Benadryl.png" alt="Benadryl">
            </div>
            <div class="info">
                <h3>Benadryl</h3>
                <h4>Rs.150</h4>
                <button class="add">Add to Cart</button>
            </div>
        </div>
        <div class="productbox">   
            <div class="image"> 
                <img src="../static/Images/Relispray.png" alt="Relispray">
            </div>
            <div class="info">
                <h3>Relispray</h3>
                <h4>Rs.330</h4>
                <button class="add">Add to Cart</button>
            </div>
        </div>
        <div class="productbox">
            <div class="image">
                <img src="../static/Images/Dolo 650.png" alt="Dolo 650">
            </div>
            <div class="info">
                <h3>Dolo 650</h3>
                <h4>Rs.170</h4>
                <button class="add">Add to Cart</button>
            </div>
        </div>
        <div class="productbox">
            <div class="image">
                <img src="../static/Images/Dettol.png" alt="Dettol">
            </div>
            <div class="info">
                <h3>Dettol</h3>
                <h4>Rs.315</h4>
                <button class="add">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="cart">
        <hr>
        <h2>Cart</h2>
        <div class="carttable">
            <table>
                <tr>
                    <th>Name</th>
                    <th id="df">Dosage Frequency<br>(Morning-Afternoon-Evening-Night)</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>DropItem</th>
                </tr>
            </table>
            <div class="totalgenerate">
                <p><span>Total = Rs.<b>0</b></span></p>
                <a href="{% url 'prescription' patient.pk %}"><button id="generate"> Generate Prescription </button></a>
            </div>
        </div>
    </div>
    <script src="../static/generator.js"></script>
</body>
</html>