<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
    <link rel="stylesheet" href="../static/prescription.css">
</head>
<body>
    <div class="heading">
        <h1>Prescription</h1>
    </div>
    <div class="info">
        <div class="left">
            <h3>Patient Name: {{ fullname }}</h3>
            <h3>Age: {{ age }}</h3>
            <h3>Gender: {{ gender }}</h3>
        </div>
        <div class="right">
            <h3 class="date">Date:</h3>
            <h3 class="day">Day:</h3>
            <h3 class="time">Time:</h3>
        </div>
    </div>
    <div class="carttable">
        <table>
            <tr>
                <th>Name</th>
                <th id="df">Dosage Frequency<br>(Morning-Afternoon-Evening-Night)</th>
                <th>Quantity</th>
                <th>Price</th>
                <!-- <th>DropItem</th> -->
            </tr>
        </table>
        <div class="totalgenerate">
            <p><span>Total = Rs.<b>0</b></span></p>
        </div>
    </div>
    <script src="../static/prescription.js"></script>
</body>
</html>