<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Existing Patients</title>
    <link rel="stylesheet" href="../static/viewexistingpatients.css">
</head>
<body>
    <div class="box">
        <h1>Existing Patients:</h1>
        <div class="all">
            {% for patient in patients %}
            <div class="row">
                <h3>{{ patient }}</h3>
                <div class="btns">
                    {% comment %} href="{% url 'viewname' forloopvariable.id %}" {% endcomment %}
                    <a href="{% url 'deletepatient' patient.id %}"><button class="delete"> Delete </button></a>
                    <a href="{% url 'patientinfo' patient.id %}"><button class="view"> View </button></a>
                    <a href="{% url 'gnrtprscrptn' patient.id %}"><button class="gnrtprscrptn"> Generate Prescription </button></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="back">
            <a href="/features"><button> Back </button></a>
        </div>
    </div>
</body>
</html>